.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position:fixed;
    left: 15px;
    margin-top: -25px;
}
.head1{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -11px;
    background-color: white;
}
.titleh > p{
    color:white;
    width: 100%;
    padding: 10px;
    background-color: sienna;
    font-size: 28px;
    font-weight: 800;
    font-weight: bold;
    font-family: "Helvetica", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top: -30px;
    margin-left: -10px;
}
.ul-head{
    list-style-type: none;
    top: 3px;
    margin-left: 500px;
}
.ul-head li{
    display: inline-block;
    
    
}
.ul-head li a{
    text-decoration: none;
    color:black;
    padding: 5px 20px;
    transition: 0.6s ease;
    font-family: monospace;
    font-size: 16px;
}
.ul-head li.active a{
    background-color:sienna;
    color: rgb(255, 255, 255);
    border-radius: 5px;

}
.ul-head li a:hover{
    border-radius: 5px;
    background-color:sienna ;
    color: rgb(255, 255, 255);
}

/* CSS Styling for the form */
.form-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: monospace;
    font-size: 20px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-group textarea {
    height: 120px;
  }
  
  .form-group input[type="submit"] {
    background-color:sienna;
    color: white;
    cursor: pointer;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: sienna
  }
  .foot p{
    margin-bottom: -10px;
    margin-left: -8px;
    color: sienna;
    padding: 20px 0px 20px 18px;
    width: 100%;
}